body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.grid {
  width: 500px;
  height: 200px;
}

.form-create {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-create .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.form-create .form-control:focus {
  z-index: 2;
}

.form-create input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

fieldset {
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}

.addfields {
    margin: 10px 0;
}

#choicesDisplay {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove {
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}
input[type="text"],
select {
    padding:5px;

}